<div class="container">
  <div class="row">
    <% @products.each_slice(4) do |row| %>
      <% row.each do |product| %>
        <div class="col">
          <div class="card">
            <%= image_tag product.photo.url, class: 'card-img-top' %>
            <div class="card-body">
              <h5> <%= product.name %> </h>
              <p> $<%= product.price %> </p>
              <%= link_to "Agregar al carro", product_orders_path(product), class: 'btn btn-success', method: :post  %>
              <%= link_to "show", product, class: 'btn btn-primary' %>
              <% if can?(:edit, product)%>
              <%= link_to "edit", edit_product_path(product), class:'btn btn-info' %>
              <% end %>
              <% if can?(:destroy, product)%>
              <%= link_to "Destroy",product, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'   %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top:20px;"> </div>
    <% end %>
  </div>
</div>


<%= link_to 'New Product', new_product_path %>
